@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*
{
	margin: 0px;
	padding: 0px;
	font-family: Source Code Pro;
}
body{
	margin: 0px;
	color: rgb(255, 255, 255);
	overflow: hidden;
}
section{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

.clasich1{
	padding: 38px 0 20px 0px;
	margin: 0;
	text-align: center;
	font-size: 80px;
	color: rgb(255, 255, 255);
}
h1{
	margin: 150px 0 0;
	text-align: center;
	font-size: 80px
}
h2{
	font-size: 38px;
	padding: 150px 0 7px;
	text-align: center;
}
h3{
	font-size: 28px;
	margin: 50px 0 7px;
	text-align: center;
}
h4{
	font-size: 90px;
	margin: 50px 0 7px;
	text-align: center;
}

article{
	background: red;
}
img{
	border: none;
	position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.animation-area
{
	width: 100vw;
	height: 100vh;
}
.box-area
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 5;
}
.box-area li
{
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1)
{
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2)
{
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3)
{
	left: 80%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4)
{
	left: 47%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5)
{
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6)
{
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate
{
	0%
	{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100%
	{
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
#help{
	position: fixed;
	left: 50px;
	top: 50px;
}
.hidden{
	visibility: hidden;
}
.show{
	visibility: visible;
}
.text{
	font-size: 19px;
	max-width: 624px;
	margin: 100px auto 0 auto;
}
img{
	max-width: 800px;
	margin: 20px auto 0 auto;
}